
@tailwind base;
@tailwind components;
@tailwind utilities;


    body {
        font-family: 'poppins';
        overflow-x: hidden;
        overflow-y: auto;
    }
 button {
        color: white;
 }

